*{
    margin: 0;
    padding: 0;
}

:root{
    --white-color: #ffffff;
    --text-color: #212721;
    --hover-color: #dc3545;
}

img{
    width: 100%;
    vertical-align: bottom;
}

/* navbar */

.navbar{
    background-color: rgba(0, 0, 0, 0.8) !important;
}

#myUl .nav-link{
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--white-color);
    transition: all 0.3s linear;
}

#myUl .nav-link:hover{
    color: var(--hover-color);
}

#logo{
    width:100px;
}

/* header */

.carousel-inner{
    height: 100vh;
}

.carousel-item{
    position: relative;
    height: 100%;
    background: url('img/carousel-bg.jpg') no-repeat center;
    background-size: cover;
}

.carousel-img{
    position: absolute;
    top: 50%;
    left: 60%;
    width: 500px;
    transform: translate(-10%, -40%);
}

.carousel-caption{
    width: 30%;
    left: 30%;
    bottom: 30%;
    transform: translate(-50%, -30%);
    text-align: left;
}

.carousel-caption h1{
    font-size: 70px;
}

.carousel-caption p{
    font-size: 17px;
    letter-spacing: 1px;
}







/* media screen */

@media (max-width: 575.98px) {

    /* header */

    .carousel-img{
        top: 35%;
        left: 50%;
        width: 300px;
        transform: translate(-50%, -35%);
    }

    .carousel-caption{
        width: 90%;
        left: 50%;
        bottom: 8%;
        transform: translate(-50%, -30%);
        text-align: center;
    }
    
    .carousel-caption h1{
        font-size: 60px;
    }

}